<!-- 
<nav class="navbar navbar-light bg-light px-3 rounded shadow-sm mb-4">
  <span class="navbar-brand mb-0 h4">
    {{ selectedCategory === 'nonveg' ? 'Non-Veg Menu' : selectedCategory === 'veg' ? 'Veg Menu' : 'Drinks Menu' }}
  </span>

  <select [(ngModel)]="selectedCategory" class="form-select w-auto" style="cursor: pointer;">
    <option value="veg">Veg</option>
    <option value="nonveg">Non-Veg</option>
    <option value="drinks">Drinks</option>
  </select>
</nav> -->


<nav class="navbar navbar-light bg-light px-3 rounded shadow-sm mb-4 sticky-top mt-0" style="z-index: 10;">
  <span class="navbar-brand mb-0 h4">
    {{ selectedCategory === 'nonveg' ? 'Non-Veg Menu' : selectedCategory === 'veg' ? 'Veg Menu' : 'Drinks Menu' }}
  </span>

  <select [(ngModel)]="selectedCategory" class="form-select w-auto" style="cursor: pointer;">
    <option value="veg">Veg</option>
    <option value="nonveg">Non-Veg</option>
    <option value="drinks">Drinks</option>
  </select>
</nav>



<!-- Non-Veg Menu -->
<div class="container my-3" *ngIf="selectedCategory === 'nonveg'">
  <div class="row row-cols-2 g-3">
    <div class="col" *ngFor="let item of menuItems">
      <div class="card h-100">
        <img [src]="BaseuRL + item.nonvegdishImage" class="card-img-top" alt="{{item.nonvegdishname}}">
        <div class="card-body p-2">
          <h6 class="card-title mb-1">{{item.nonvegdishname}}</h6>
          <p class="card-text text-muted small mb-1">{{item.description}}</p>
          <p class="mb-0"><strong>₹{{item.priceFull}}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Veg Menu -->
<div class="container my-3" *ngIf="selectedCategory === 'veg'">
  <div class="row row-cols-2 g-3">
    <div class="col" *ngFor="let item of vegMenuitem">
      <div class="card h-100">
        <img [src]="BaseuRL + item.vegdishImage" class="card-img-top" alt="{{item.vegdishname}}">
        <div class="card-body p-2">
          <h6 class="card-title mb-1">{{item.vegdishname}}</h6>
          <p class="card-text text-muted small mb-1">{{item.description}}</p>
          <p class="mb-0"><strong>₹{{item.priceFull}}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Drinks Menu -->
<div class="container my-3" *ngIf="selectedCategory === 'drinks'">
  <div class="row row-cols-2 g-3">
    <div class="col" *ngFor="let item of Drinks">
      <div class="card h-100">
        <img [src]="BaseuRL + item.image" class="card-img-top" alt="{{item.name}}">
        <div class="card-body p-2">
          <h6 class="card-title mb-1">{{item.name}}</h6>
          <p class="card-text text-muted small mb-1">{{item.description}}</p>
          <p class="mb-0"><strong>₹{{item.price}}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>