<nav class="navbar navbar-light bg-light px-3 rounded shadow-sm mb-4">
  <span class="navbar-brand mb-0 h4">{{ isVegSelected ? 'Non-Veg Menu' : 'Veg Menu' }}</span>

  <div class="form-check form-switch d-flex align-items-center gap-2">
    <input class="form-check-input togglebtn" type="checkbox" id="toggleSwitch" [(ngModel)]="isVegSelected"
      [ngClass]="isVegSelected ? 'bg-danger' : 'bg-success'" style="cursor: pointer;" />
    <div class="form-check-label text-center" for="toggleSwitch" style="width: 70px;">
      {{ isVegSelected ? 'Non-Veg' : 'Veg' }}
    </div>
  </div>
</nav>






<div class="container my-3 " *ngIf="isVegSelected">
  <div class="row row-cols-2 g-3">
    <div class="col" *ngFor="let item of menuItems">
      <div class="card h-100">
        <img [src]="BaseuRL + item.nonvegdishImage" class="card-img-top" alt="{{item.nonvegdishname}}">
        <div class="card-body p-2">
          <h6 class="card-title mb-1">{{item.nonvegdishname}}</h6>
          <p class="card-text text-muted small mb-1">{{item.description}}</p>
          <p class="mb-0"><strong>₹{{item.priceFull}}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3" *ngIf="!isVegSelected">
  <div class="row row-cols-2 g-3">
    <div class="col" *ngFor="let item of vegMenuitem">
      <div class="card h-100">
        <img [src]="BaseuRL + item.vegdishImage" class="card-img-top" alt="{{item.vegdishname}}">
        <div class="card-body p-2">
          <h6 class="card-title mb-1">{{item.vegdishname}}</h6>
          <p class="card-text text-muted small mb-1">{{item.description}}</p>
          <p class="mb-0"><strong>₹{{item.priceFull}}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>